.contents{
    position: absolute;
    background: var(--body-clr);
    height: 100vh;
    right: 0;
    width: calc(100% - 250px);
    transition: all 0.4s ease;
}
.sidebar.close ~ .contents{
    width: calc(100% - 88px);
    transition: all 0.6s ease;
}
.content{
    display: none;
}
.content.current{
    display: block;
}